
.questions {
    padding-bottom: 100px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.questions__content {
    text-align: center;
}

.questions__title {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 40px;
}

.questions__subtitle {
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 50px;
}

.questions__inner {
    width: 100%;
    height: auto;
    margin: 150px auto;
    display: flex;
    justify-content: space-around;
}

.questions__img {
    display: flex;
    justify-content: center;
    background: #f3f7ff;
    width: 410px;
    height: 410px;
    border-radius: 50%;
}

.q__photo {
    background: url("../img/questions/pencil.png")no-repeat;
    background-size: contain;
    width: 230px;
    height: 510px;
    position: relative;
    top: -50px;
}

.questions__block {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 100px;
}

.q__name,
.q__email,
.q__message {
    display: flex;
    font-size: 16px;
    width: 400px;
    height: 45px;
    margin: 10px;
    padding: 5px 25px;
    border: 1px solid #d8e0f3;
    border-radius: 22px;
    align-items: center;
}

.q__message {
    height: 250px;
    padding: 25px;
    display: flex;
    outline: none;
    resize: none;
}

.q__message::placeholder {
    font-size: 16px;
    font-family: sans-serif;
}

.q__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    background-color: #80b0f2;
    color: #000000;
    width: 400px;
    height: 45px;
    margin: 10px;
    font-size: 14px;
    font-weight: 600;
    opacity: 1;
    transition: opacity .2s linear;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0,0,0,.18);
}

.q__btn:hover {
    background-color: #4169E1;
    opacity: 0.9;
    transition: opacity .2s linear;
}